spring:
  application:
    name: pulse-modulith
  datasource:
    url: jdbc:h2:mem:pulse;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,configprops,threaddump,httpexchanges
  endpoint:
    health:
      probes:
        enabled: true
